<!DOCTYPE html>
<html ng-app="SportsEvents">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/app")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-cloak>
    <div ng-controller="SearchController">
        <nav class="navbar">
            <a href="/">
                <span class="brand">Find Sports</span>
            </a>
            <div class="search-bar">
                <input ng-focus="focus()" type="text" ng-model="model.text" />

                <button ng-click="search(model)">
                    <span class="fa fa-search"></span>
                </button>
            </div>
            <div ng-controller="AccountSectionController" class="account-section">
                <div ng-if="!authenticated">
                    <a ng-mouseover="showAccountPanel()" href="/signin">Sign In<span class="fa fa-caret-down"></span></a>
                    <div class="account-panel" ng-mouseleave="hideAccountPanel()" ng-if="showPanel">
                        <div>

                            <a href="/signup">Sign up</a>
                        </div>
                    </div>
                </div>
                <div ng-if="authenticated">
                    <a ng-mouseover="showAccountPanel()" href="/my">{{userName}} <span class="fa fa-caret-down"></span></a>
                    <div class="account-panel" ng-mouseleave="hideAccountPanel()" ng-if="showPanel">
                        <div>
                            <a>Account Settings</a>
                            <a href="manage">My Events</a>
                            <a href="my">Manage</a>
                            <a ng-click="signOut()">SignOut</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="navigation-section">
                <a href="/">Home</a>
                <a href="/addevent">Post Event</a>
                <a href="/blog">Blog</a>
            </div>
            <div ng-show="showAdvancedSearchOptions" class="advanced-search-options">
                <div>
                    <div>
                        <h4>Search Options</h4>
                        <button ng-click="hideSearchOptions()" class="x">x</button>
                    </div>
                    <div>
                        <span>Sports Type</span>
                        <select ng-options="sport as sport.Name for sport in sports track by sport.Id" ng-model="model.sport">
                            <option disabled>
                                Select a Sport
                            </option>
                        </select>
                    </div>
                    <div>
                        <span>Event Type</span>
                        <select ng-options="eventType as eventType.Name for eventType in eventTypes track by eventType.Id" ng-model="model.eventType">
                            <option disabled>
                                Select an EventType
                            </option>
                        </select>
                    </div>


                    <div>
                        <span>Country</span>
                        <select ng-options="country as country.Name for country in countries track by country.Id" ng-model="model.country" ng-change="getCities(model.country)">
                            <option disabled>
                                Select a country
                            </option>
                        </select>
                    </div>
                    <div>
                        <span>City</span>
                        <select ng-options="city as city.Name for city in cities track by city.Id" ng-model="model.city">
                            <option disabled>
                                Select a city
                            </option>
                        </select>
                    </div>
                    <div>
                        <span>Zip Code</span>
                        <input type="text" ng-model="model.zipCode" />

                    </div>
                    <div>
                        <span>Begin Date</span>
                        <input type="date" ng-model="model.beginDate" />

                    </div>
                    <div>
                        <span>Starting Price</span>
                        <input type="number" ng-model="model.startingPrice" />

                    </div>
                </div>
            </div>
        </nav>
    </div>
    @RenderBody()




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/thirdParty")

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", false)

</body>
</html>